@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/jf_font.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/fixes.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/base.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/rounding.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/smallercast.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/episodelist/episodes_compactlist.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/header/header_transparent-dashboard.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/login/login_frame.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/fields/fields_noborder.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/cornerindicator/indicator_floating.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/type/dark.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/titlepage/title_simple-logo.css');
@import url('https://raw.githubusercontent.com/Anqui3tas/FinTheme/main/overlayprogress.css');

:root {--rounding: 5px;}

/*Style backdrop*/
.backdropImage {
  filter: blur(60px) saturate(200%) contrast(160%) brightness(25%);
}

/* Replace the main Jellyfin logo on the header */
.skinHeaderLogo {
  background-image: url(../Images/logo.svg); /* Add your custom logo URL */
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px; /* Adjust to fit your logo */
  width: 200px; /* Adjust to fit your logo */
  margin: auto; /* Center if needed */
}

/* Replace the logo on the splash screen */
#loginPage {
  background-image: url(../Images/logo.svg); /* Add your splash screen image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}